header {
    background-color: #4ea0ff;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 300px;
    height: 80px;
}

.Logo {
    width: 150px;
    margin-top: 35px;
}

.Closer-Text {
    margin-top: -25px;
}

.Color-Blue {
    color: rgb(0, 154, 243);
}

.Main-Tim-Img1 {
    width: 420px;
    font-size: 10px;
    margin-top: 20px;
}

.Main-Tim-Img2 {
    width: 360px;
    font-size: 10px;
}

.Text-Size-UnderPhoto {
    font-size: smaller;
    }

.Color-Yellow {
    background-color: yellow;
}

.table {
    border-collapse: collapse;

}

thead{
    background-color: rgb(76, 166, 250);
    color: white;
}

.Blue-Background-Color {
    background-color: rgb(102, 220, 224);
}

th {
    width: 25%;
}

td {
    width: 25%;
}

th.Large {
 width: 50%;
}

.Further-Text {
    margin-top: 50px;
    margin-bottom: 10px;
}

.Color-Grey {
    color: gray;
}

.Footer-Img1 {
    width: 200px;
}

.Footer-Img2 {
    width: 200px;
}

.Text-Photo-Footer {
    position: absolute;
    color: white;
    font-size: 20px;
}